$primary: #090E16;
$secondary: #7B4AE20D;

$white-fifty-opacity: #FFFFFF80;
$purple-primary: #7B4AE2;
$purple-ten-opacity: #7B4AE21A;
$purple-twenty-opacity: #7B4AE233;
$purple-fifty-opacity: #7B4AE280;