@import './colors';

#root {
  max-width: 1920px;
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h2 {
  padding: 5px 10px;

  border-radius: 16px;
  background-color: $purple-ten-opacity;

  color: $purple-primary;

  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.h1-name {
  margin: 22px 0 40px 0;

  text-align: start;
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 5.0rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 1.8rem;
  }

  @media (min-width: 769px) and (max-width: 970px) {
    font-size: 2.5rem;
  }

  @media (min-width: 971px) and (max-width: 1080px) {
    font-size: 3.5rem;
  }

  @media (min-width: 1081px) and (max-width: 1500px) {
    font-size: 4.0rem;
  }
}

.strong {
  margin: 28px 0 100px 0;
  color: #FFF;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  @media (min-width: 481px) and (max-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 769px) and (max-width: 970px) {
    font-size: 2.5rem;
  }

  @media (min-width: 971px) and (max-width: 1080px) {
    font-size: 1.8rem;
  }

  @media (min-width: 1081px) and (max-width: 1500px) {
    font-size: 1.8rem;
  }
}

.contact-lets-talk-strong {
  margin-bottom: 50px;
}