@import './colors';

header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 989px;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 64px;

        padding-right: 15px;
        border-radius: 16px;

        background-color: $secondary;

        li {
            display: flex;
            gap: 18px;

            a {
                text-decoration: none;

                color: $white-fifty-opacity;

                &:hover {
                    transform: scale(110%);
                    opacity: 0.5;
                }
            }

            .selected {
                color: $purple-fifty-opacity;
            }
        }
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        .header-user-div {
            display: flex;
            flex-direction: column;

            strong {
                display: flex;
                justify-content: center;
                align-items: center;

                width: 160px;
                height: 36px;

                border-radius: 16px;
                background-color: $purple-ten-opacity;

                color: $purple-primary;
            }

            h1 {
                margin: 22px 0 55px 0;
            }

            span {
                margin-bottom: 25px;
            }

            .stacks-div {
                display: flex;
                gap: 15px;

                margin-left: 6px;
            }
        }

        .avatar {
            width: 556px;
            height: 515px;
        }
    }
}