@import './colors';

.header {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 989px;

    padding: 38px 140px 0 140px;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        width: 100%;
        height: 64px;

        padding-right: 15px;
        border-radius: 16px;

        background-color: $secondary;

        li {
            display: flex;
            gap: 18px;

            a {
                text-decoration: none;

                color: $white-fifty-opacity;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                cursor: pointer;

                &:hover {
                    transform: scale(110%);
                    opacity: 0.5;
                }
            }

            .selected {
                color: $purple-fifty-opacity;
                text-align: center;
                font-family: 'Raleway', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;

        margin-top: 87px;

        .header-user-div {
            display: flex;
            flex-direction: column;

            span {
                margin-bottom: 25px;

                color: $white-fifty-opacity;
                text-align: justify;
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .stacks-div {
                display: flex;
                gap: 15px;

                a {
                    &:hover {
                        transform: scale(110%);
                        opacity: 0.8;
                    }
                }
            }

        }

        .avatar {
            max-width: 556px;
            max-height: 515px;
        }

        .contact-div {
            strong {
                color: $purple-fifty-opacity;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .download-cv-div {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: 4px;

                margin-bottom: 11px;
                margin-right: 15px;

                cursor: pointer;

                img {
                    width: 20px;
                    height: auto;
                }

                &:hover {
                    transform: scale(110%);
                    opacity: 0.9;
                }
            }

            .whats-div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 8px;

                width: 196px;
                height: 44px;

                border: 1px solid $purple-fifty-opacity;
                border-radius: 16px;

                cursor: pointer;

                img {
                    width: 24px;
                    height: 24px;
                }

                &:hover {
                    transform: scale(105%);
                    opacity: 0.7;
                }
            }
        }
    }
}

// @media (max-width: 1270px) {
//     header {
//         height: 618px;

//         nav {
//             height: 44px;

//             li {
//                 a {
//                     font-size: 16px !important;
//                 }
//             }
//         }

//     }

//     .header-content {
//         .stacks-div {
//             img {
//                 width: 25px;
//             }
//         }

//         .avatar {
//             width: 356px;
//             height: 315px;
//         }

//         .header-user-div {
//             h1 {
//                 font-size: 45px !important;
//             }
//         }

//         .contact-div {
//             strong {
//                 font-size: 12px !important;
//             }

//             .whats-div {
//                 width: 156px !important;
//             }
//         }
//     }

// }