@import './colors';

.section {
    display: flex;
    flex-direction: column;

    margin: 144px 140px 186px 140px;

    .strong {
        margin-bottom: 100px;
    }

    .projects-container {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;

        width: 100%;
    }
}