@import './colors';

.section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 144px 140px 186px 140px;

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 921px;

        .strong {
            margin: 28px 0 100px 0;
            color: #FFF;
            font-size: 3em;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }

        .skills-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .p {
                color: $white-fifty-opacity;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .skills {
                display: flex;
                gap: 22px;

                img {
                    width: 40px;
                }
            }

        }
    }
}