@import './colors';

.section {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 144px 140px 186px 140px;

    .article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 921px;

        .skills-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .p {
                color: $white-fifty-opacity;
                font-size: 2.4rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .skills {
                display: flex;
                gap: 22px;

                img {
                    width: 40px;
                }
            }

        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .section {
        margin: 80px 30px;

        .article {
            .skills-container {
                .p {
                    font-size: 2.0rem;
                }

                .skills {
                    img {
                        width: 35px;
                    }
                }
            }
        }
    }
}